body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.signup {
  margin-top: 50px;
  background-color: gray;
  height: 400px;
  width: 400px;
}

.logIn {
  margin-top: 90px;
}

.centerSignUp {
  text-align: center;
  margin-top: 100px;
  color: black;
}

.centerLogIn {
  text-align: center;
  margin-top: 100px;
  color: black;
}

.loginForms {
margin-top: 45px;
}
