.box {
position: relative;
display: inline-block;

}
.box .banner__text  {
        position: absolute;
        z-index: 999;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 40%; /* Adjust this value to move the positioned div up and down */
        text-align: center;
        width: 60%; /* Set the width of the positioned div */
    }
.heading-1 {

    color: white;
}

.img-fluid d-block mx-auto {
    border:1px solid #021a40;
}

.image {
    border:1px solid #021a40;
}

.coverphoto {
    background-size: 300px 100px; 
    background-size: cover;
    background-repeat: no-repeat;
}

.h5 {

    text-align: center;
}

.utahcities {
    color:#6ac0a6;
}